
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]='sideNavWidth'> 
        
        <div class="sidenav-header" [class.hide-header-text]='sideNavWidth === "70px"'>
            <h6>Providers</h6>
            <mat-divider></mat-divider>
        </div>

        

        <div class="addProvider">
            @if (sideNavWidth !== '250px') {
                <button mat-flat-button class="add-button-collapsed" (click)="addProvider()">
                    <mat-icon >add</mat-icon>
                </button>
                
            } @else {
                <button mat-flat-button class="add-button" (click)="addProvider()">
                    <mat-icon>add</mat-icon>
                    Add Providers
                </button>
            }
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>
            @for( provider of providers; track provider.id) {
                <a mat-list-item href="/scheduler">
                    <img matListItemIcon [width]="providerImgSize()" [height]="providerImgSize()" [src]=" provider.picture" class="providerImg" alt='{{provider.name}}' />
                    <div matListItemTitle *ngIf="sideNavCollapsed" class="providerName">{{provider.profile}}</div>
                    <div matListItemLine *ngIf="sideNavCollapsed" >{{provider.name}}</div>
                </a>
                
            } 
            @empty {
                <p>There are no linked providers</p>
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth">
        <app-scheduler (sideNavWidthOutput)="changeSideNav($event)"></app-scheduler>
    </mat-sidenav-content>
</mat-sidenav-container>
