
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]='sideNavWidth'> 
        
        <div class="sidenav-header" [class.hide-header-text]='sideNavWidth === "70px"'>
            <h6>Providers</h6>
            <mat-divider></mat-divider>
        </div>

        

        <div class="addProvider">
            @if (sideNavWidth !== '250px') {
                <button mat-flat-button class="add-button-collapsed" (click)="addProvider()">
                    <mat-icon >add</mat-icon>
                </button>
                
            } @else {
                <button mat-flat-button class="add-button" (click)="addProvider()">
                    <mat-icon>add</mat-icon>
                    Add Providers
                </button>
            }
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>
            @if (providerStore.isLoading()) {
                <p>Loading...</p>
            } @else {
                @for( provider of providerStore.providers(); track provider.id) {
                    <a mat-list-item href="/scheduler" [disabled]="provider.disabled" class="provider-list">
                        <figure matListItemIcon class="image is-48x48">
                            <img class="is-rounded profile-img" [src]="provider.picture" alt='{{provider.name}}'/>
                            <img class="provider-img is-32x32" [src]="provider.providerIdentifier + '.png'" [alt]='provider.providerIdentifier' />
                        </figure>
                        
                        <div matListItemTitle *ngIf="sideNavCollapsed" class="providerName" >{{provider.name}}</div>
                        <div matListItemLine *ngIf="sideNavCollapsed" >{{provider.providerIdentifier}}</div>
                        <div matListItemMeta *ngIf="sideNavCollapsed">
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="openMenu()" aria-label="Provider menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" yPosition="above" xPosition="before">
                                <button mat-menu-item (click)="deleteProvider(provider.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                                <button mat-menu-item 
                                    (click)="provider.disabled ? enableProvider(provider.id) : disableProvider(provider.id)">
                                    <mat-icon>{{provider.disabled ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <span>{{provider.disabled ? 'Enable' : 'Disable'}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </a>
                    
                } 
                @empty {
                    <p>There are no linked providers</p>
                }
            }
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth">
        <app-scheduler (sideNavWidthOutput)="changeSideNav($event)"></app-scheduler>
    </mat-sidenav-content>
</mat-sidenav-container>
