.content {
    padding: 24px;
}

mat-sidenav-container {
    min-height: 100%;
    // padding-top: 64px;
}

.sidenav-header {
    padding-top: 24px;
    text-align: center;
}

.addProvider {
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-button {
    // padding-top: 24px;
    
}

.profile-img {
    position: absolute;
  }
  .provider-img {
    width: 28px;
    height: 28px;
    position: absolute;
    margin-left: 30px;
    margin-top: 23px;
  }

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    color: var(--mdc-list-list-item-leading-icon-color, var(--mat-app-on-surface-variant));
    width: 48px;
    height: 48px;
    margin: 1px 10px 0px 5px;
}

div.mat-mdc-list-item-meta.mdc-list-item__end {
    margin: 0px;
}

img.mat-mdc-list-item-icon.providerImg.mdc-list-item__start {
    margin: 0px 16px 0px 0px;
    height: 65px;
    width: 53px;
    align-self: center;
}

mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {

    height: 24px;
    width: 24px;
    font: 24px 'Material icons';
    
}

.add-button-collapsed.mdc-button {
    min-width: 65px;
    
    mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
        margin: 0px 0px;
    }
}

.add-button-collapsed.mat-mdc-unelevated-button {
    padding: 0px 0px;
}

.hide-header-text {
    opacity: 0;
    height: 0px;
    width: 0px;
}

.mdc-list-item--with-leading-radio.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before, .mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before, .mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before, .mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before {
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: 0;
}

.provider-list {
    margin-bottom: 20px;
}
