.content {
    padding: 24px;
}

mat-sidenav-container {
    min-height: 100%;
    // padding-top: 64px;
}

.sidenav-header {
    padding-top: 24px;
    text-align: center;
}

.addProvider {
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-button {
    // padding-top: 24px;
    
}

.providerImg {
    anchor-name: --i-profileImg;
    object-fit: fit;

    // background-color: aliceblue;
}

.provider-image {
    // anchor-default: --i-profileImg;
    position: absolute;
    bottom: anchor(bottom);
    left: anchor(right);
    
    
    &.mat-mdc-list-item-icon.provider-image.mdc-list-item__start {
        margin: 0px 0px 0px 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-left: 30px;
        margin-top: 34px;
        height: 35px;
        width:  35px;
    }
}

img.mat-mdc-list-item-icon.providerImg.mdc-list-item__start {
    margin: 0px 16px 0px 0px;
    height: 65px;
    width: 53px;
    align-self: center;
}

mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {

    height: 24px;
    width: 24px;
    font: 24px 'Material icons';
    
}

.add-button-collapsed.mdc-button {
    min-width: 65px;
    
    mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
        margin: 0px 0px;
    }
}

.add-button-collapsed.mat-mdc-unelevated-button {
    padding: 0px 0px;
}

.hide-header-text {
    opacity: 0;
    height: 0px;
    width: 0px;
}
