.youtube-dialog{
    // background-color: red;
    height: 100%;
}

:host .ngx-modal {
    width: 80%;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    
}

.video-details {
    min-width: 100%;

    .video-name {
       width: 100%; 
    }

    .video-desc {
        width: 100%;
    }

    .video-kids {
      width: 100%;
    }
    .video-tags {
      width: 100%;
    }
}

.modal {
    display: flex;
  }
  
.modal-section {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}
  
.collapsed {
    display: none;
}



// /* Style for the sidebar */
// .sidenav {
//     // height: 100%;
//     width: 500px;
//     position: fixed;
//     // top: 0;
//     // left: 0;
//     background-color: #111;
//     overflow-x: hidden;
//     transition: 0.5s;
//     // padding-top: 60px;
//   }
  
//   .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 18px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
//   }
  
//   .sidenav a:hover {
//     color: #f1f1f1;
//   }
  
  /* Main content area */
  .main-content {
    transition: margin-left 0.5s;
    padding: 16px;
    margin-left: 500px;
}

.open-btn {
  cursor: pointer;
}

/* Shift the main content to the right when sidenav is opened */
.sidenav.active {
  width: 20px;
}

.main-content.active {
  margin-left: 0px;
}
.video-title {
  margin-bottom: 0px;
}

.video-kids {
  color: var(--sys-on-surface);
}
.video-thumbnail {
  color: var(--sys-on-surface);
}
.video-thumbnail-grp {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shorts-video {
  height: 380px;
}
.normal-video {
  
}
.profile-img {
  position: absolute;
}
.provider-img {
  width: 28px;
  height: 28px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.selected-Date {
  color: var(--sys-on-surface);
}










// section {
//   display: table;
// }

// .example-label {
//   display: table-cell;
//   font-size: 14px;
//   margin-left: 8px;
//   min-width: 120px;
// }

.example-button-row {
  min-width: 120px;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.buttons-group {

  .cancel-btn{
    width: 200px;
    color: var(--sys-on-background);
  }

  .draft-btn {
    width: 200px;
    // background-color: var(--sys-primary-container);
    color: var(--sys-on-background);
    margin-right: 1rem;
  }

  .save-btn {
    width: 200px;
    background-color: var(--sys-primary-container);
    color: var(--sys-on-primary-container);
    border-radius: 35px;
    height: 40px;
  }

}

mat-divider {
    padding: 0.5rem 0rem;
}
  