
<div 
    appDragDrop
    class="container"
    [class.success]="uploadSuccess"
    [class.error]="uploadErrors"
    [style.height]="'inherit'"
    [style.width]="aspectRatio() === '16:9' ? '194px' : '174px'"
    (fileDropped)="onFileDropped($event)"
    [hidden]="!multiple() && files.length >= 1"
>
    <div >
        <input type="file" #fileDropRef 
            id="fileDropRef" [multiple]="multiple()" 
            accept="image/*"
            (change)="fileBrowseHandler($event)" 
        />
        <mat-icon>upload</mat-icon>
        <div class="upload-text">Drag and drop file here</div>
        <div>or</div>
        <label for="fileDropRef" [style.margin-top]="aspectRatio() === '16:9' ? '-1rem' : '2rem'">Browse for file</label>
    </div>
</div>

@for(item of files; track item) {
    <div class="container-preview"
        [class.success]="uploadSuccess"
        [class.error]="uploadErrors"
        [style.height]="'inherit'"
        [style.width]="aspectRatio() === '16:9' ? '194px' : '174px'"
    >
        <div class="file-dropper">
            <div *ngIf="item.file?.name">
                <div *ngIf="selectedFile || imagePreview()">
                    <div class="image-preview-details">
                        <p class="">
                            {{ formatBytes(item.file?.size, 2) }}
                        </p>
                        <mat-icon class="delete-icon" (click)="deleteFile(item)">delete</mat-icon>
                    </div>
                    <img
                        [src]="item.preview"
                        alt="Image Preview"
                        class="image-preview"
                    />
              </div>
            </div>
        </div>
    </div>
}
